@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  color: #3F3F3f;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  line-height: 20px;
  height: 36px;
  outline: none;
  width: 81px;

  &:disabled {
    background: #E0E0E0;
    border-radius: 6px;
    color: #9E9E9E !important;
    pointer-events: none;
  }

  &.outline {
    background-color: unset !important;

    &:disabled {
      background-color: unset !important;
    }
  }

  &.text {
    background-color: unset !important;
    border: none !important;
    box-shadow: none !important;
    color: #3D5AFE;
  }

  &.outline, &.text {
    &:disabled {
      background-color: unset !important;
    }

    &.default {
      color: #3F3F3F;

      &:hover, &:focus {
        background: rgba(63, 63, 63, 0.1) !important;
      }
    }
  
    &.primary {
      color: #2962FF;

      &:hover, &:focus {
        color: #2962FF;
        background: rgba(41, 98, 255, 0.1) !important;
      }
    }
    
    &.secondary {
      color: #455A64;

      &:hover, &:focus {
        color: #455A64;
        background: rgba(69, 90, 100, 0.1) !important;
      }
    }
    
    &.danger {
      color: #D32F2F;

      &:hover, &:focus {
        color: #D32F2F;
        background: rgba(211, 47, 47, 0.1) !important;
      }
    }
  }

  &.disableShadow {
    box-shadow: none;
  }

  &.with-icons {
    align-items: center;
    display: flex;
    height: 36px;
    justify-content: space-around;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    width: 105px;
  }

  &.sm {
    width: 73px;
    height: 32px;
  }
  
  &.md {
    width: 81px;
    height: 36px;
  }
  
  &.lg {
    width: 93px;
    height: 42px;
  }

  &.default {
    background-color: #E0E0E0;
    border: 1px solid #E0E0E0;

    &:hover, &:focus {
      background-color: #AEAEAE;
      color: #3F3F3f;
    }
  }

  &.primary {
    background: #2962FF;
    border-radius: 6px;
    color: #FFFFFF;
    border: 1px solid #2962FF;

    &:hover {
      background: #0039CB;
      color: #FFFFFF;
    }
  }
  
  &.secondary {
    background: #455A64;
    color: #FFFFFF;
    border: 1px solid #455A64;
  
    &:hover {
      background: #1C313A;
      color: #FFFFFF;
    }
  }
  
  &.danger {
    background: #D32F2F;
    color: #FFFFFF;
    border: 1px solid #D32F2F;
  
    &:hover {
      background: #9A0007;
      color: #FFFFFF;
    }
  }
}
